<div class="filtrer-photo-container">
    <div class="list-text-photo">
      <li>Fotos de Stock gratuitas</li>
      <li
        class="menu-item dropdown-wrapper"
        (mouseenter)="showStockModal = true"
        (mouseleave)="showStockModal = false"
      >
        <div class="dropdown-trigger">
          <span>{{ selectedOption || "Selecciona una opción" }}</span>
          <img class="down-iconos" src="icons/down-arrow.svg" alt="" />
        </div>
  
        <!-- Modal dropdown -->
        <div
          class="modal-hover"
          [ngClass]="{ visible: showStockModal, hidden: !showStockModal }"
        >
          <ul class="dropdown-list">
            <li (click)="selectOption('Tendencias')">Tendencias</li>
            <li (click)="selectOption('Lo nuevo')">Lo nuevo</li>
          </ul>
        </div>
      </li>
    </div>
  </div>
  