:host {
  display: block;
}

.navbar-container{
  background-color: #f8f9fa;
  width: 100%;
  height: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin: 0 10px;
}

.iconos {
  width: 12px;   /* o el tamaño que prefieras */
  height: auto;
  margin-left: 5px;  /* separa el ícono del texto */
  vertical-align: middle;
}

.centrar-iconos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;  /* opcional, da un espacio uniforme */
  text-align: center;
}


.down-iconos {
  width: 12px;   /* o el tamaño que prefieras */
  height: auto;
  margin-left: 5px;  /* separa el ícono del texto */
  vertical-align: middle;
}

.down-iconos:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
