<!-- CardPhoto.component.html -->
<div 
  class="item"
  [ngClass]="itemSize"
  [ngStyle]="{'background-color': backgroundColor}"
  (mouseenter)="showStockModal = true"
  (mouseleave)="showStockModal = false"
>
  <!-- Contenedor superior con las imágenes -->
  <div class="top-right-icons" *ngIf="showStockModal">
    <div class="icon-wrapper">
      <img class="icon icon-info" src="assets/icon1.svg" alt="icono1">
    </div>
    <div class="icon-wrapper">
      <img class="icon icon-heart" src="icons/hearth.svg" alt="icono2">
    </div>
  </div>
  
  <!-- Contenido central -->
  <div class="item-content">
    {{ content }}
  </div>
  
  <!-- Contenedor inferior con SVG y botón -->
  <div class="bottom-bar" *ngIf="showStockModal">
    <div>
      <!-- <img src="icons/down-arrow.svg" style="width: 100px;" alt=""> -->
    </div>
    <div class="btn-container">
      <button class="btn-download">
        <div class="icon-download">
          <img class="svg-icon icon-download-svg" src="icons/download.svg" alt="">
        </div>
        Ver más
      </button>
    </div>
  </div>
</div>