:host {
  display: block;
}

.grid-photo {
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
}

.grid-photo-container {
  max-width: 1530px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background-color: #f0f0f0;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.card {
  height: 745.98px; /* Altura base original */
}

.little-card {
  height: 663.09px;
}

/* Usamos masonry grid con column-count */
@supports (column-count: 3) {
  .grid-photo-container {
    display: block;
    column-count: 3;
    column-gap: 25px;
  }

  .card {
    break-inside: avoid;
    margin-bottom: 25px;
    width: 100%;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .grid-photo-container {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .grid-photo-container {
    column-count: 1;
  }
}