<div class="grid-photo">
    <div class="masonry">
      <div class="item item1 normal-size">Elemento 1</div>
      <div class="item item2 small-size">Elemento 2</div>
      <div class="item item3 small-size">Elemento 3</div>
      <div class="item item4 normal-size">Elemento 4</div>
      <div class="item item5 normal-size">Elemento 5</div>
      <div class="item item6 small-size">Elemento 6</div>
      <div class="item item7 normal-size">Elemento 7</div>
      <div class="item item8 small-size">Elemento 8</div>
      <div class="item item9 normal-size">Elemento 9</div>
      <div class="item item10 small-size">Elemento 10</div>
    </div>
  </div>
